@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200&display=swap');

/**/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
}
video {
    max-width: 100%;
}

/* ----header---- */
header{
    background-color: rgb(147, 163, 163);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    justify-content: space-between;
}
.active {
    text-decoration: underline;
}

.logo-encabezado{
    display: flex;
    width: 100px;
    height: 100px;
}
.nav-list{
    display: flex;
    gap: 1rem;
}
@media (min-width: 480px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
    .nav-list{    
        display: flex;
        gap: 1rem;
    }
}

/* ---- Portada Index ---- */
.portada-index{
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50vh;
    background-image: url(../img/zuecos1.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.texto-portada{
    background-color: rgba(52, 91, 117, 0.507);
    text-align: center;
    padding: 16px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .portada-index {
        flex-direction: row;
    }
}

/*----fuentes----*/
h1{
    color:rgb(116, 92, 50);
}
h2{
    color:rgb(116, 92, 50);
}
h3{
    color:rgb(116, 92, 50);
}

.titulo_secundario{
    color:rgb(116, 92, 50);
}

body{
    background-color: rgb(217, 223, 223);
    font-family: 'Victor Mono', monospace;
}

/* ---- footer ---- */
.pie_de_pagina {
    display: flex;
    width: 100%;
}

/* ---- Tarjetas producto ---- */
.productos{
    padding: 1rem;
}
.tarjeta-producto{
    border: 2px solid black;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.tarjeta-producto img{
    width: 100%;
}
.tarjeta-body{
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 5px;
}
.boton-tarjeta{
    background-color: rgba(88, 60, 11, 0.466);
    padding: 10px 8px;
    display: inline-block;
    width: 137px;
    color: black;
    border-radius: 10px;
    border: 2px solid rgb(88, 60, 11);
}

/*----galeria nosotros----*/

.galeria {
    padding: 1rem;
    background-color: black;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.galeria-titulo {
    color: rgb(116, 92, 50);
}
.cont-galeria {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*
max-widht ---> ancho maximo
min-widht ---> ancho minimo
orientation:
landscape ---> apaisado, + ancho q alto
portrait ---> retrato, + alto q ancho
*/

@media (min-width: 768px) {
    .cont-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .videodestacado {
        grid-column: span2;
    }
    } 

    @media (min-width: 1200px) {
        .cont-galeria {
            grid-template-columns: 2fr 1fr;
            grid-template-rows:repeat(2,500px) ;
        }
        .cont-galeria img {
            width: 100%;
            height: 100%;
        }
        .cont-galeria video {
            width: 100%;
            height: 100%;
        }
        .videodestacado {
            grid-column: span 1;
            grid-row: span 2;
        }
    }

/* Estilos para el formulario de contacto */
.form-contacto {
    display: grid;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    background-color: rgb(147, 163, 163);;
    grid-template-areas:
        "contacto  contacto"
        "texto    texto"
        "nombre   apellido"
        "email     cel"
        "mensaje   mensaje"
        "novedades novedades"
        "limpiar    enviar";
}

.form-contacto h2 {
    grid-area: contacto;
    text-align: center;
}

.form-contacto p {
    grid-area: texto;
    text-align: center;
}

.form-contacto label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-contacto input,
.form-contacto textarea {

    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

.form-contacto label:nth-child(3) {
    grid-area: nombre;
}

.form-contacto label:nth-child(4) {
    grid-area: apellido;
}

.form-contacto label:nth-child(5) {
    grid-area: email;
}

.form-contacto label:nth-child(6) {
    grid-area: cel;
}

.form-contacto label:nth-child(7) {
    grid-area: mensaje;
}

.form-contacto label:nth-child(8) {
    grid-area: novedades;
    text-align: center;
}

.form-contacto .limpiar {
    grid-area: limpiar;
    justify-self: end;
    padding: 8px;
    margin-right: 10px;
    background-color: rgb(38, 83, 114);
    border-radius: 5px;
}

.form-contacto .enviar {
    grid-area: enviar;
    justify-self: start;
    padding: 8px;
    margin-left: 10px;
    background-color: rgb(38, 83, 114); 
}

@media (max-width: 1070px) {
    .form-contacto h1 {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .form-contacto {
        width: auto;
        margin-top: 0;
        grid-template-areas:
            "contacto  contacto"
            "texto    texto"
            "nombre   nombre"
            "apellido apellido"
            "email    email"
            "cel       cel"
            "mensaje   mensaje"
            "novedades novedades"
            "limpiar    enviar";
    }
}
