
/* Estilos para el formulario de contacto */
.form-contacto {
    display: grid;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    background-color: $color-celeste;
    grid-template-areas:
        "contacto  contacto"
        "texto    texto"
        "nombre   apellido"
        "email     cel"
        "mensaje   mensaje"
        "novedades novedades"
        "limpiar    enviar";
}

.form-contacto h2 {
    grid-area: contacto;
    text-align: center;
}

.form-contacto p {
    grid-area: texto;
    text-align: center;
}

.form-contacto label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-contacto input,
.form-contacto textarea {

    border: none;
    border-bottom: 1px solid $color-negro;
    padding: 10px;
}
.form-contacto {
    @include grid-area(3, nombre);
    @include grid-area(4, apellido);
    @include grid-area(5, email);
    @include grid-area(6, cel);
    @include grid-area-center(7, mensaje);
    @include grid-area-center(8, novedades);
}
.form-contacto .limpiar {
    grid-area: limpiar;
    justify-self: end;
    padding: 8px;
    margin-right: 10px;
    background-color: $color-marron;
    border-radius: 5px;
}

.form-contacto .enviar {
    grid-area: enviar;
    justify-self: start;
    padding: 8px;
    margin-left: 10px;
    background-color: $color-marron; 
}

@media (max-width: 900px) {
    .form-contacto {
        width: auto;
        margin-top: 0;
        grid-template-areas:
            "contacto  contacto"
            "texto    texto"
            "nombre   nombre"
            "apellido apellido"
            "email    email"
            "cel       cel"
            "mensaje   mensaje"
            "novedades novedades"
            "limpiar    enviar";
    }
}

@media (max-width: 1070px) {
    .form-contacto h1 {
        font-size: 18px;
    }
}
