
  /*ESTILOS PREGUNTAS*/

  .pregunta {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    background-color: $color-celeste;
    transition-duration: 1.5s;
  }
  .pregunta:hover {
    transform: rotate3d(360deg);
    box-shadow: 5px 5px 4px 10px;
  }
  .respuesta {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }